body{
	background-color:#CCCCCC;
}

#main{
	background-color: #D8D8B1;
	color: black;
	margin: 0 auto;
	height: 80%;
	width: 60%;
	border: 5px #989898;
	border-style: double;
	border-radius: 20px 60px 20px 60px;
	font-family: Verdana;
}

#align{
	margin-left: 2%;
	margin-right: 2%;
}

.dates{
	float: right;
	margin-right: 8%;
}

h1{
	font-style: bold;
	text-align: center;
	margin-bottom: 0px;
	font-size: 20px;
}


h2{
	margin-top: 0px;
	text-align: center;
	font-size:16px;
}

h3{
	font-style: bold;
	font-size: 16px;
}

p1{
	font-style: italic;
	font-size: 14px;
}

ul li {
	list-style-type:square;
	font-size: 14px;
}

hr{
	height:5px;
	width: 80%;
	background-color: #666666
}

